<a href="https://colab.research.google.com/github/vermaayush680/IMDB-Movie-Data-Scraper/blob/main/BeautifulSoup_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from time import sleep
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
page = requests.get(url='https://www.imdb.com/chart/top/?sort=ur,desc&mode=simple&page=1')

In [ ]:
content=page.text

  # Beautifying the content code using BeautifulSoup
soup=BeautifulSoup(content)

In [ ]:
title = soup.find_all("td", {"class": "titleColumn"})

In [ ]:
for values in title:
  for i,tag in enumerate(values):
    if i==1:
      tag = str(tag)
      # print(tag[tag.index('>')+1:tag.index('</a>')])

In [ ]:
for values in title:
  for i,year in enumerate(values):
    if i==3:
      year = str(year)
      # print(year[year.index('>(')+2:year.index(')</span>')])

In [ ]:
links = []
for values in title:
  for i,tag in enumerate(values):
    if i==1:
      tag = str(tag)
      links+=[tag[tag.index('href="')+6:tag.index('" ')]]

In [ ]:
page1 = requests.get(url='https://www.imdb.com'+links[0])

In [ ]:
content1=page1.text

  # Beautifying the content code using BeautifulSoup
soup1=BeautifulSoup(content1)

In [ ]:
soup1.find_all("span",{"class":"sc-8c396aa2-2"})[0].string

'1994'

In [ ]:
soup1.find_all("h1",{"class":"sc-b73cd867-0"})[0].string

'The Shawshank Redemption'

In [ ]:
soup1.find_all("span",{"class":"sc-7ab21ed2-1"})[0].string

'9.3'

In [ ]:
soup1.find_all("div",{"class":"sc-7ab21ed2-3"})[0].string

'2.6M'

In [ ]:
soup1.find_all("div",{"class":"sc-edc76a2-1"})[0].string

'66'

In [ ]:
for i in soup1.find_all("a",{"class":"sc-36c36dd0-1"}):
  print(i.string)

Tim Robbins
Morgan Freeman
Bob Gunton
William Sadler
Clancy Brown
Gil Bellows
Mark Rolston
James Whitmore
Jeffrey DeMunn
Larry Brandenburg
Neil Giuntoli
Brian Libby
David Proval
Joseph Ragno
Jude Ciccolella
Paul McCrane
Renee Blaine
Scott Mann

In [ ]:
soup1.find_all("a",{"class":"ipc-metadata-list-item__list-content-item"})[0].string

'Frank Darabont'

In [ ]:
soup1.find_all("span",{"class":"sc-16ede01-2"})[0].string

'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.'

In [ ]:
title=[]
year = []
rating = []
num_reviews = []
popularity = []
cast = []
director = []
description = []

# Main Extractor

In [ ]:
for link in links:
  page1 = requests.get(url='https://www.imdb.com'+link)
  content1=page1.text
  soup1=BeautifulSoup(content1)
  try:
    title+=[soup1.find_all("h1",{"class":"sc-b73cd867-0"})[0].string]
  except:
    title+=[np.nan]
  try:
    year+=[soup1.find_all("span",{"class":"sc-8c396aa2-2"})[0].string]
  except:
    title+=[np.nan]
  try:
    rating+=[soup1.find_all("span",{"class":"sc-7ab21ed2-1"})[0].string]
  except:
    title+=[np.nan]
  try:
    num_reviews+=[soup1.find_all("div",{"class":"sc-7ab21ed2-3"})[0].string]
  except:
    title+=[np.nan]
  try:
    popularity+=[soup1.find_all("div",{"class":"sc-edc76a2-1"})[0].string]
  except:
    title+=[np.nan]
  try:
    l=[]
    for i in soup1.find_all("a",{"class":"sc-36c36dd0-1"}):
      l+=[i.string]
    cast+=[l]
  except:
    cast+=[np.nan]
  try:
    director+=[soup1.find_all("a",{"class":"ipc-metadata-list-item__list-content-item"})[0].string]
  except:
    title+=[np.nan]
  try:
    description+=[soup1.find_all("span",{"class":"sc-16ede01-2"})[0].string]
  except:
    title+=[np.nan]
  print(title[-1])
  sleep(2)

The Shawshank Redemption
The Godfather
The Dark Knight
The Godfather: Part II
12 Angry Men
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
The Good, the Bad and the Ugly
Forrest Gump
Fight Club
Inception
The Lord of the Rings: The Two Towers
Star Wars: Episode V - The Empire Strikes Back
The Matrix
Goodfellas
One Flew Over the Cuckoo's Nest
Se7en
Seven Samurai
It's a Wonderful Life
The Silence of the Lambs
City of God
Saving Private Ryan
Life Is Beautiful
The Green Mile
Interstellar
Star Wars
Terminator 2: Judgment Day
Back to the Future
Spirited Away
Psycho
The Pianist
Léon: The Professional
Parasite
The Lion King
Gladiator
American History X
The Usual Suspects
The Departed
The Prestige
Casablanca
Whiplash
The Intouchables
Top Gun: Maverick
Modern Times
Harakiri
Grave of the Fireflies
Once Upon a Time in the West
Rear Window
Alien
nan
Cinema Paradiso
Memento
Apocalypse Now
Indiana Jones and the Raiders of the Lost Ark
Django Unchained
WALL·E
The Lives of Others
Sunset Blvd.
Paths of Glory
The Shining
nan
Witness for the Prosecution
Avengers: Infinity War
Aliens
American Beauty
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Spider-Man: Into the Spider-Verse
The Dark Knight Rises
Oldboy
Joker
Amadeus
Braveheart
Toy Story
Coco
The Boat
Inglourious Basterds
Princess Mononoke
Avengers: Endgame
Once Upon a Time in America
Good Will Hunting
Toy Story 3
Requiem for a Dream
Your Name.
Singin' in the Rain
3 Idiots
Star Wars: Episode VI - Return of the Jedi
2001: A Space Odyssey
Eternal Sunshine of the Spotless Mind
Reservoir Dogs
High and Low
Capernaum
Citizen Kane
Lawrence of Arabia
The Hunt
M
North by Northwest
Vertigo
Amélie
Come and See
A Clockwork Orange
Full Metal Jacket
Double Indemnity
The Apartment
Scarface
nan
The Sting
To Kill a Mockingbird
Taxi Driver
Up
L.A. Confidential
Heat
Metropolis
A Separation
Die Hard
Snatch
Incendies
Hamilton
Indiana Jones and the Last Crusade
nan
1917
Like Stars on Earth
Downfall
For a Few Dollars More
Batman Begins
Dangal
Spider-Man: No Way Home
nan
Some Like It Hot
All About Eve
The Father
Green Book
The Wolf of Wall Street
Judgment at Nuremberg
Ran
Unforgiven
Casino
Pan's Labyrinth
There Will Be Blood
The Sixth Sense
A Beautiful Mind
The Truman Show
Monty Python and the Holy Grail
nan
The Treasure of the Sierra Madre
Shutter Island
nan
Jurassic Park
The Great Escape
Kill Bill: Vol. 1
No Country for Old Men
Everything Everywhere All at Once
Finding Nemo
The Elephant Man
Chinatown
Raging Bull
Gone with the Wind
V for Vendetta
The Thing
Inside Out
Lock, Stock and Two Smoking Barrels
Dial M for Murder
The Secret in Their Eyes
Howl's Moving Castle
The Bridge on the River Kwai
Three Billboards Outside Ebbing, Missouri
Trainspotting
Warrior
Gran Torino
Fargo
Prisoners
My Neighbor Totoro
Million Dollar Baby
nan
Catch Me If You Can
Blade Runner
On the Waterfront
The Third Man
nan
Ben-Hur
nan
12 Years a Slave
nan
Before Sunrise
Gone Girl
Harry Potter and the Deathly Hallows: Part 2
The Deer Hunter
In the Name of the Father
The Grand Budapest Hotel
nan
nan
Barry Lyndon
nan
Memories of Murder
Klaus
Hacksaw Ridge
The Seventh Seal
Room
Wild Tales
The Big Lebowski
Mad Max: Fury Road
How to Train Your Dragon
nan
Monsters, Inc.
Jaws
nan
nan
Dead Poets Society
Hotel Rwanda
Rocky
Platoon
nan
Ford v Ferrari
Stand by Me
The Terminator
Spotlight
Rush
Network
Into the Wild
Logan
The Wizard of Oz
Ratatouille
Groundhog Day
Before Sunset
The Exorcist
The Best Years of Our Lives
The Incredibles
nan
nan
Rebecca
nan
Hachi: A Dog's Tale
Cool Hand Luke
Amores perros
Pirates of the Caribbean: The Curse of the Black Pearl
La Haine
nan
Persona
nan
nan
Life of Brian
The Sound of Music
nan
The Handmaiden
Aladdin
Gandhi
Jai Bhim
The Help
Beauty and the Beast

In [ ]:
# title = s.split('\n')
title = title[1:-1]

In [ ]:
len(title),len(year),len(rating),len(num_reviews),len(popularity),len(cast),len(director),len(description)

(250, 250, 250, 250, 225, 250, 250, 250)

In [ ]:
title = pd.Series(np.array(title))
year = pd.Series(np.array(year))
rating = pd.Series(np.array(rating))
num_reviews = pd.Series(np.array(num_reviews))
popularity = pd.Series(np.array(popularity))
cast = pd.Series(np.array(cast))
director = pd.Series(np.array(director))
description = pd.Series(np.array(description))

In [ ]:
df = pd.DataFrame({'Title':title,'Year of Release':year,'Rating':rating,'Number of Reviews':num_reviews,'Popularity Index':popularity,'Movie Cast':cast,'Director':director,'Description':description})

In [ ]:
df.head()

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,The Shawshank Redemption,1994,9.3,2.6M,66,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",Frank Darabont,Two imprisoned men bond over a number of years...
1,The Godfather,1972,9.2,1.8M,17,"[Marlon Brando, Al Pacino, James Caan, Diane K...",Francis Ford Coppola,The aging patriarch of an organized crime dyna...
2,The Dark Knight,2008,9.0,2.6M,91,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",Christopher Nolan,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,1974,9.0,1.2M,102,"[Al Pacino, Robert De Niro, Robert Duvall, Dia...",Francis Ford Coppola,The early life and career of Vito Corleone in ...
4,12 Angry Men,1957,9.0,771K,446,"[Henry Fonda, Lee J. Cobb, Martin Balsam, John...",Sidney Lumet,The jury in a New York City murder trial is fr...

In [ ]:
df.isnull().sum()

Title                 0
Year of Release       0
Rating                0
Number of Reviews     0
Popularity Index     25
Movie Cast            0
Director              0
Description           0
dtype: int64

In [ ]:
df['Title'] = df['Title'].replace({'nan':np.nan})

In [ ]:
df.isnull().sum()

Title                25
Year of Release       0
Rating                0
Number of Reviews     0
Popularity Index     25
Movie Cast            0
Director              0
Description           0
dtype: int64

In [ ]:
df[df['Title'].isnull()]

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
51,NaN,1931,8.5,183K,"1,629","[Charles Chaplin, Virginia Cherrill, Florence ...",Charles Chaplin,"With the aid of a wealthy erratic tippler, a d..."
62,NaN,1940,8.4,221K,136,"[Charles Chaplin, Paulette Goddard, Jack Oakie...",Charles Chaplin,Dictator Adenoid Hynkel tries to expand his em...
106,NaN,1952,8.3,77K,194,"[Takashi Shimura, Nobuo Kaneko, Shin'ichi Himo...",Akira Kurosawa,A bureaucrat tries to find meaning in his life...
120,NaN,1948,8.3,162K,"2,393","[Lamberto Maggiorani, Enzo Staiola, Lianella C...",Vittorio De Sica,"In post-war Italy, a working-class man's bicyc..."
128,NaN,1921,8.3,125K,78,"[Charles Chaplin, Edna Purviance, Jackie Cooga...",Charles Chaplin,"The Tramp cares for an abandoned child, but ev..."
144,NaN,1961,8.2,122K,376,"[Toshirô Mifune, Eijirô Tôno, Tatsuya Nakadai,...",Akira Kurosawa,A crafty ronin comes to a town divided by two ...
147,NaN,1950,8.2,167K,"2,395","[Toshirô Mifune, Machiko Kyô, Masayuki Mori, T...",Akira Kurosawa,The rape of a bride and the murder of her samu...
174,NaN,1925,8.2,110K,341,"[Charles Chaplin, Mack Swain, Tom Murray, Henr...",Charles Chaplin,A prospector goes to the Klondike during the 1...
179,NaN,1997,8.2,74K,"2,254","[Mohammad Amir Naji, Amir Farrokh Hashemian, B...",Majid Majidi,"After a boy loses his sister's pair of shoes, ..."
181,NaN,1926,8.2,91K,"3,838","[Buster Keaton, Marion Mack, Glen Cavender, Ji...",Clyde Bruckman,After being rejected by the Confederate milita...
183,NaN,1957,8.1,106K,"3,237","[Victor Sjöström, Bibi Andersson, Ingrid Thuli...",Ingmar Bergman,"After living a life marked by coldness, an agi..."
190,NaN,1939,8.1,115K,64,"[James Stewart, Jean Arthur, Claude Rains, Edw...",Frank Capra,A naive youth leader is appointed to fill a va...
191,NaN,1953,8.2,61K,557,"[Yves Montand, Charles Vanel, Peter van Eyck, ...",Henri-Georges Clouzot,"In a decrepit South American village, four men..."
193,NaN,1924,8.2,49K,369,"[Buster Keaton, Kathryn McGuire, Joe Keaton, E...",Buster Keaton,"A film projectionist longs to be a detective, ..."
203,NaN,2009,8.1,176K,790,"[Toni Collette, Philip Seymour Hoffman, Eric B...",Adam Elliot,A tale of friendship between two unlikely pen ...
206,NaN,1928,8.2,54K,"1,917","[Maria Falconetti, Eugene Silvain, André Berle...",Carl Theodor Dreyer,"In 1431, Jeanne d'Arc is placed on trial on ch..."
207,NaN,1953,8.2,61K,595,"[Chishû Ryû, Chieko Higashiyama, Sô Yamamura, ...",Yasujirô Ozu,An old couple visit their children and grandch...
212,NaN,1955,8.3,32K,"2,743","[Kanu Bannerjee, Karuna Bannerjee, Subir Baner...",Satyajit Ray,"Impoverished priest Harihar Ray, dreaming of a..."
228,NaN,1942,8.2,37K,NaN,"[Carole Lombard, Jack Benny, Robert Stack, Fel...",Ernst Lubitsch,"During the Nazi occupation of Poland, an actin..."
229,NaN,1940,8.1,92K,NaN,"[Henry Fonda, Jane Darwell, John Carradine, Ch...",John Ford,"An Oklahoma family, driven off their farm by t..."
231,NaN,1966,8.1,60K,NaN,"[Brahim Hadjadj, Jean Martin, Yacef Saadi, Sam...",Gillo Pontecorvo,"In the 1950s, fear and violence escalate as th..."
237,NaN,1959,8.1,116K,NaN,"[Jean-Pierre Léaud, Albert Rémy, Claire Maurie...",François Truffaut,"A young boy, left without attention, delves in..."
239,NaN,2005,8.2,86K,NaN,"[Çetin Tekindor, Fikret Kuskan, Hümeyra, Ege T...",Cagan Irmak,The family of a left-wing journalist is torn a...
240,NaN,1934,8.1,103K,NaN,"[Clark Gable, Claudette Colbert, Walter Connol...",Frank Capra,A renegade reporter trailing a young runaway h...
243,NaN,1975,8.2,29K,NaN,"[Maksim Munzuk, Yuriy Solomin, Mikhail Bychkov...",Akira Kurosawa,The Russian army sends an explorer on an exped...

In [ ]:
df = df.dropna().reset_index().drop(['index'],axis=1)

In [ ]:
df.to_csv('Top 200 Movies.csv',index=False)